<div class="container">
    <section class="mt-3">
        <h1>Bienvenidos a mi Pagina de Gifs y Stickers</h1>
        <p>Esta pagina es para mostrar cuales son los Stickers y Gifs mas populares del momento.</p>
      </section>
      <hr>
    <div class="row gap-3 justify-content-center mb-5">
      <div class="col-12 col-md-5 card text-center me">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <a [routerLink]="['gifs']" class="btn btn-success">Ver Mas...</a>
        </div>
      </div>
      <div class="col-12 col-md-5 card text-center">
        <img src="..." class="card-img-top " alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <a [routerLink]="['stickers']" class="btn btn-success">Ver Mas...</a>
        </div>
      </div>
    </div>
</div>
