<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Proyecto Final</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#">Gifs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#">Stickers</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<section>
  <h1>Bienvenidos a mi Pagina de Gifs y Stickers</h1>
  <p>Esta pagina es para mostrar cuales son los Stickers y Gifs mas populares del momento.</p>
</section>
<hr>
<section>
  <h2>Gifs</h2>
  <button type="button" class="btn btn-success">Ver Mas...</button>
</section>
<hr>
<section>
  <h2>Stickers Tendencia</h2>
  <button type="button" class="btn btn-success">Ver Mas...</button>
</section>